.footer {
        text-align: center;
        padding: 10px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #ffa8de;
        border-top: 1px solid #ccc;
        font-size: 14px;
}