footer {
        width: 100%;
        background-color: #ffa8de;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }
    