.navbar {
    width: 100%;
    background-color: #ffa8de;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #7c2159;
    color: #fff;
}
